{% extends 'base.html' %} 
{% load bootstrap_tags %}

{% block page_title %}Registration Page{% endblock %} 


{% block content %}
<div class="container">
    <div class="row m-5">
        <div class="col-md-6 mx-auto">
            <form method="POST">
                {% csrf_token %}
                {{ registration_form | as_bootstrap }}
                <button type="submit" class="btn btn-outline-info general-style-btn w-100 ml-0">Create your account</button>
            </form>
            <p class="text-muted m-3">Already have an account,  <a href="{% url 'login' %}">Sign in <i class="fas fa-angle-right ml-1"></i></a></p>
        </div>
    </div>
</div>
<hr>
{% endblock %}