{% extends 'base.html' %}

{% block page_title %}New Password{% endblock %}

{% block content %}

{% if validlink %}

<div class="container">
    <div class="container text-center m-4">
        <h1>set a new password</h1>
    </div>
    <div class="row m-4">
        <div class="col-md-6 mx-auto">
            <form method="POST">
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <button type="submit" value="Change password" class="btn btn-outline-info general-style-btn w-100 ml-0">Change Password</button>
            </form>
        </div>
    </div>

    <!-- <h1>Set a new password!</h1> -->

    <!-- <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Change password!">
    </form> -->
    {% else %}
                    
    <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>

</div>
{% endif %}
{% endblock %}
            
        

