{% extends 'base.html' %}
{% load bootstrap_tags %}

{% block page_title %}Reset Password{% endblock %}

{% block content %}

<div class="container">
    <div class="container text-center m-4">
        <h1>Forgot your password?</h1>
        <p class="m-4">Enter your email address below, and we'll email instructions for setting a new one:</p> 
    </div>
    
    <div class="row m-4">
        <div class="col-md-6 mx-auto">
            <form method="POST">
                {% csrf_token %}
                {{ form.email.erros }}
                {{ form | as_bootstrap }}
                <button type="submit" value="Reset password!" class="btn btn-outline-info general-style-btn w-100 ml-0">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

