{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-sm-12 col-lg-4 col-md-4">
            <div class="card text-center">
                <img class="card-img-top" src="{{ product.image.url }}" alt="produto image">
                <div class="card-body text-center">
                    <h3 class="product-name">{{ product.name }}</h3>
                    <p class="product-description">{{ product.description | truncatechars:250 }}</p>
                    <p><i class="fas fa-pound-sign">{{ product.price }}</i></p>
                    <form class="form-inline" method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <input class="form-control" name="quantity" type="number" min="1" max="10" placeholder="Quantity">
                        <button class="btn btn-success" type="submit"><i class="fas fa-cart-arrow-down"></i>Add to Trolley</button>
                    </form>
                </div>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
                        
                        
                        
                        
