{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="card-body text-center">
        <h4 class="product-name">{{ product.name }}</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-lg-4 col-md-4">
            <div class="card text-center">
                <img class="card-img-top" src="{{ product.image.url }}" alt="produto image">
                <span><i class="fas fa-pound-sign">{{ product.price }}</i></span>
                <form class="form-inline justify-content-center" method="POST" action="{% url 'add_to_cart' product.id %}}">
                    {% csrf_token %}
                    <input class="form-control form-control w-75" name="quantity" type="number" min="1" max="10" placeholder="Quantity">
                    <button class="btn btn-md btn-success text-white" type="submit"><i class="fas fa-cart-arrow-down"></i></button>
                </form>
                <a href="{% url 'home_page' %}">
                    <button type="button" class="btn btn-sm btn-success text-white mt-3 w-100 ">Continue Shopping</button>    
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6 col-md-6">
            <p class="product-description">{{ product.description }}</p>
            <!-- <p class="product-description">{{ product.description | truncatechars:250 }}</p> -->
        </div>
    </div>      
</div>
<hr>
       
{% endblock %}