

.bg-light {
    background-color: #f1f1f1!important;

}

/* Navbar */
a.navbar-brand img {
    width: 50px;
    height: 50px;
}

.d-inline-block {
    margin-right: 10px;
}  


.fa-search {
    padding-left: 0;
}

.icon-nav-description {
    display:block;
}

/* User profile page */
.user-profile {
    margin: 50px;
}
    
.user-profile-sigout-space {
    margin-left: 6px;
}


/* All products page */
.product-name {
    min-height: 120px;
}

.card {
    border: none;
}

/* Cart page */
.cart-quantity {
    color: #fff;
    font-size: 12px;
    margin-left: 3px;
    font-weight: 800;
    
    
}

.rounded-circle {
    background-color: #ff000f;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    padding-left: 5px;
}



Stripe Checkout 
 #credit-card-errors {
    display: none;
} 

@media only screen and (max-width: 600px) {
    
    .hide-mobile {
        display: none;
    }

}