{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js%}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        {% for item in cart_items %}
        <div class="col-sm-12 col-lg-4 col-md-4">
            <div class="card text-center">
                <img class="card-img-top" src="{{ item.product.image.url }}" alt="produto image">
                <div class="card-body text-center">
                    <h3 class="product-name">{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description | truncatechars:250 }}</p>
                    <span><i class="fas fa-pound-sign"></i></span>
                    <span>{{ item.product.price }}</span>
                </div>
                <form class="form-inline justify-content-center" method="POST" action="{% url 'update_cart' item.id %}">
                    {% csrf_token %}
                    <input class="form-control form-control-sm mr-3 w-25" name="quantity" type="number" min="1" max="10" placeholder="New Qty">
                    <span>{{ item.quantity }}</span>
                    <button class="btn btn-success" type="submit"><i class="fas fa-cart-arrow-down"></i></button>
                </form>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 text-center">
            <hr>
            <span>Total</span>
            <span><i class="fas fa-pound-sign"></i>{{ total }}</span>
            <a href="{% url 'checkout' %}" ><button class="btn btn-success" type="submit">Procced to Checkout</button></a>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <form role="form" class="form-group" id="payment-form" action="{% url 'checkout' %}" method="POST">
        {% csrf_token %}
        <div id="card-error">
            <div class="alert-message bock-message error" id="stripe-error-message"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-center">Your Details</h4>
                {{ order_form | as_bootstrap }}
            </div>
            <div class="col-md-6">
                <h4 class="text-center">Card Details</h4>
                {{ payment_form | as_bootstrap }}    
            </div>
        </div>
        <button class="btn btn-success text-center" id="submit_payment_btn" name="commit" type="submit">Make Payment</button>
    </form>
</div>   
{% endblock content %}
            
            
            
                
                