{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% block content %}

<div class="container">
    {% for item in cart_items %}
    <div class="row">
        <div class="new-produto">
            <div class="product-name">
                <h1>{{ item.product.name }}</h1> 
                
            </div>
        </div>
            
        <div class="col-md-4 new-produto">
            <div class="product-img"><img src="{{ item.product.image.url }}" alt=""></div>
        </div>

        <div class="col-md-4 new-produto">
            <div class="product-description">
                <p>{{ item.product.description | truncatewords:30 }}</p>
            </div>
        </div>
        <div class="new-product">
            <div class="col-md-4 product-price">
                <p><i class="fas fa-pound-sign">{{ item.product.price }}</i></p>
                <hr>
            </div>
            <div class="add-to-cart">
                <form class="form-inline" action="{% url 'update_cart' item.id %}" method="POST">
                    {% csrf_token %}
                    <input name="quantity" type="number" min="0" max="10" placeholder="New Quantity">
                    <div class="input-group-addon">{{item.quantity}}</div>
                    <button class="btn btn-success" type="submit">Edit Trolley</button>
                </form>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <p>Total</p>
        <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ total }}</p>
        <a href="/" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Checkout</a>
    </div>
</div>
{% endblock %}
            
        