{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        {% for item in cart_items %}
        <div class="col-sm-12 col-lg-4 col-md-4">
            <div class="card text-center">
                <img class="card-img-top" src="{{ item.product.image.url }}" alt="produto image">
                <div class="card-body text-center">
                    <h3 class="product-name">{{ item.product.name }}</h3>
                    <p class="product-description">{{ item.product.description }}</p>
                    <span><i class="fas fa-pound-sign"></i></span>
                    <span>{{ item.product.price }}</span>
                </div>
                <form class="form-inline justify-content-center" method="POST" action="{% url 'update_cart' item.id %}">
                    {% csrf_token %}
                    <input class="form-control form-control-sm mr-3 w-25" name="quantity" type="number" min="0" max="10" placeholder="New Qty">
                    <span>{{ item.quantity }}</span>
                    <button class="btn btn-success" type="submit"><i class="fas fa-cart-arrow-down"></i></button>
                </form>
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 text-center">
            <hr>
            <span>Total</span>
            <span><i class="fas fa-pound-sign"></i>{{ total }}</span>
            <a href="{% url 'checkout' %}" ><button class="btn btn-success" type="submit">Procced to Checkout</button></a>
        </div>
    </div>
</div>
                        
{% endblock %}   

