<footer class="fixed-bottom align-center bg-light pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 hide-mobile">
                <form class="form-inline justify-content-center" method="GET" action="{% url 'search' %}">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" name="q" placeholder="Search" aria-label="Search">
                    <button><i class="fas fa-search" aria-hidden="true"></i></button>        
                </form>
            </div>
            <div class="col-md-6 mb-4">
                <form class="form-inline justify-content-center">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Your email" aria-label="Your email">
                    <button><i class="fas fa-envelope" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 text-center">
                <div class="mb-2 ">
                    <a class="fb-ic">
                        <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                        </a>
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                        </a>
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
                        </a>
                        <a class="pin-ic">
                            <i class="fab fa-pinterest fa-lg white-text fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Ecommerce</div>
</footer>